@import "tailwindcss";

@theme {
  --color-brand-navy: #07023D;
  --color-brand-gold: #FFD700;
  
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

:root {
  font-family: var(--font-sans);
}

body {
  margin: 0;
  background-color: #F8F9FA;
  color: #07023D;
}
